<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>

    <connectionStrings>
      <add
        name="StellarCoffee"
        connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StellarCoffee;Persist Security Info=True;User ID=stellarcoffee;Password=A1!2@3#4$"
        providerName="System.Data.SqlClient"
      />

      <!--<add
        name="StellarCoffee"
        connectionString="Data Source =.\SQLEXPRESS;Initial Catalog=StellarCoffee; Integrated Security = True"
        providerName="System.Data.SqlClient"
      />-->
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>